body {
    margin: 0;
    font-family: "Roboto", "Segoe UI", 
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #d0e4f7 0%,
        #73b1e7 24%,
        #0a77d5 50%,
        #539fe1 79%,
        #87bcea 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        left,
        #d0e4f7 0%,
        #73b1e7 24%,
        #0a77d5 50%,
        #539fe1 79%,
        #87bcea 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        to right,
        #d0e4f7 0%,
        #73b1e7 24%,
        #0a77d5 50%,
        #539fe1 79%,
        #87bcea 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=1 ); /* IE6-9 */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
