ul {
    list-style: none;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}

li {
    width: 100%;
}

.firstLi {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.ingredientLi {
    display: flex;
    justify-content: space-between;
}

.ingredientLi > span {
    margin-left: 2px;
    margin-right: 25px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    img {
        max-width: 800px;
        max-height: 100%;
    }
  }


